body{
	background: black;
}
#ryuWrapper{
	width:100%;
	background: white;
	margin-top:10rem;
	height:500px;
	position:relative;
}
.ryu, .hadouken{
	float:left;
}
.ryu {
    width: 659px;
    height: 494px;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
  background-repeat: no-repeat;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool{
	background-image: url('../images/ryu-cool.gif');
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 11rem;
  left: 40rem;
}
#help{
  position: absolute;
  top: 20rem;
  left: 45rem;
  font-size: 2rem;
  font-family: cursive;
}
#help p{
	margin-bottom:2rem;
}